body {
  background: url("../assets/background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#landing-container {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para resaltar el contenido */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#landing-container h1 {
  color: #ffffff;
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* Sombra en el texto */
}

#landing-container p {
  font-size: 1.2em;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 30px;
}

#landing-container button {
  background-color: #02ac4e; /* Rojo navideño */
  color: #fff; /* Blanco para el texto */
  font-family: "Press Start 2P", cursive; /* Fuente pixelada */
  font-size: 1.5em;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px; /* Redondear los bordes */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Sombra sutil */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto hover */
#landing-container button:hover {
  background-color: #05a139; /* Rojo más claro al pasar el cursor */
  transform: translateY(-5px); /* Efecto de elevación */
}


/* Estilos responsivos */
@media (max-width: 768px) {
  #landing-container {
    width: 80%;
    padding: 15px;
  }

  #landing-container h1 {
    font-size: 2.5em;
  }

  #landing-container p {
    font-size: 1em;
  }

  #landing-container button {
    font-size: 1.2em;
    padding: 15px 30px;
  }
}

@media (max-width: 480px) {
  #landing-container h1 {
    font-size: 2em;
  }

  #landing-container p {
    font-size: 0.9em;
  }

  #landing-container button {
    font-size: 1em;
    padding: 12px 25px;
  }
}
